.section {
  width: 50%;
}

.list_main {
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: space-between;
}

.container__item__filling {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 40vh;
  scrollbar-color: #2f2f37 #8585ad;
  scrollbar-width: thin;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

.card__list_item {
  display: flex;
  gap: 8px;
  align-items: center;
  /* max-width: 568px; */
  width: 100%;
}

.full_price_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.full_price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  padding: 16px 24px;
    display: flex;
    border: solid 2px;
    background: #2f2f37;
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    box-sizing: border-box;
    
}

.title {
  margin-right: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    text-align: left;
    flex-grow: 1;
}

.bunTop {
  border-radius: 88px 88px 40px 40px;
}
.bunBottom {
  border-radius: 40px 40px 88px 88px;
}
.saucesMains {
  border-radius: 40px;
}
