.profilePage {

    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    min-height: 50px;
    justify-content: start;
    align-items: flex-start;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #8585ad;
  padding: 0;
  width: 26%;
  height: fit-content;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585ad;
  height: 64px;
  cursor: pointer;
}

.active {
  color: #f2f2f3;
}

.text {
  text-align: start;
  color: #8585ad;
  opacity: 0.4;
}

