.section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 640px;
  /* justify-content: flex-start;
  align-items: center; */
  text-align: start;
}
.title {
  text-align: center;
}
.list__ingredients {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 33vh;
  scrollbar-color: #2f2f37 #8585ad;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px 0 0;
  margin: 0;
  width: 100%;
}
.item__ingredient {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  
}
.block__name__img {
  display: flex;
  align-items: center;
  gap: 16px;
}
.frame {
  display: flex;
  width: 64px;
  height: 64px;
  background: linear-gradient(
    to right,
    rgba(128, 26, 178, 1),
    rgba(76, 76, 255, 1)
  );
  border-radius: 100px;
  position: relative;
}
.card__img {
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #1c1c21;
  object-fit: cover;
}
.block__count__price {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.block__total__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
