.group_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0;
}
.li {
    width: calc(50% - 24px);
    text-align: center;
}
