.img {
  width: 520px;
   height: 240px;
    object-fit: contain;
}

.ingredients__container {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  width: 516px;
  margin: 0px auto;
}

.modal__ingredients_info {
  min-width: 112px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}