.title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    height: 64px;
    
  }
  
  .ingredients__container {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    width: 516px;
    margin: 0px auto;
  }
  
  .modal__ingredients_info {
    min-width: 112px;
  }